
<div class="content">
  <h1>
    Hello!
  </h1>
<p>
  My name is Lilly Piri. I am a visual artist and illustrator from Brisbane, Australia. <br /> I created this blog to share some of my painting and art knowledge, as well as to document my journey as I learn to code. <br /><br /> This blog was built by me in Ruby on Rails. A few of my other projects include:<br /><br /> <a href="https://lillypiri.com">lillypiri.com</a> <br /> <a href="http://artideas.herokuapp.com/">Art Ideas Generator</a><br /><br /><br /> You can check out the code for these on <a href="https://github.com/lillypiri">my github</a>. <br /><br /> To check out my art, have a look at my site <a href="https://lillypiri.com">lillypiri.com</a> or my <a href="https://instagram.com/lillypiri">instagram</a> where I document my daily painting project!<br /><br />
</p>
</div>

<div class="footer">

</div>
