
<div class="content">
  <h1>
    Hello!
  </h1>
<p>
  My name is Lilly Piri. I am a junior developer, visual artist, and illustrator from Brisbane, Australia. I have a BA in Information Management and Librarianship. <br /> I created this blog to share some of my painting and art knowledge, as well as to document my journey as I learn to code. <br /><br /> This blog was built by me in Ruby on Rails. A few of my other projects include:<br /><br />
  <a href="https://th1rty.herokuapp.com">30 Apps in 30 Days</a><br />
  <a href="https://itunes.apple.com/app/unicorn-friends-by-lilly-piri/id1209335249?ls=1&mt=8">Unicorn and Friends sticker app</a><br />
  <a href="https://lillypiri.com">lillypiri.com</a> <br />
  <a href="https://artideas.herokuapp.com/">Art Ideas Generator</a><br />
  <a href="https://pink8ball.herokuapp.com/">Magic 8 Ball</a><br />
  <a href="https://pomogotchi.littlenebula.com/">Pomogotchi</a> (this was made in 48 hours for Ruby Rampage Hackathon.)<br />
  <a href="https://ski.littlenebula.com">Ski Flee</a> (This was made in 48 hours for Node Knockout, by me, Ben Hoad, and Nathan Hoad.)<br />

  <br /><br /><br /> You can check out the code for some of these on <a href="https://github.com/lillypiri">my github</a>. <br /><br /> To check out my art, have a look at my site <a href="https://lillypiri.com">lillypiri.com</a> or my <a href="https://instagram.com/lillypiri">instagram</a> where I document my daily painting project!<br /><br />
</p>
</div>

<div class="footer">

</div>
