.content {
  text-align: center;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #f6fbff;
  border-radius: 25px;
  box-shadow: 1px 2px 1px #fb6565;
  padding: 20px;
}

.article-link {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
