body
  {
    color: #566b78;
    background-color: #eee;
    margin: 0 auto;
    max-width: 50em;

    font-family: "Georgia", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;

    color: #555;
  }

h1,
h2,
  strong {
    color: #333;
  }

h2 {
  margin-top: 1em;
  padding-top: 1em;
}


a {
  color: #e81c4f;
}
