body
  {
    color: #fb6565;
    background-color: #ffc4c4;
    background-image: image-url("background.png");
    background-size: 200px 250px;
    background-repeat: repeat;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
    line-height: 1.5;
    padding: 40px 10px;

    color: #555;
  }

h1,
h2 {
    font-size: 30px;
    color: #c50017;
  }

h2 {
  margin-top: 1em;
  padding-top: 1em;
}


a {
  color: #5f5959;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover{
    color: #fb6565;
  }
  img{border:none}
}

p {
  font-size: 19px;
  color: #fb6565;
}

.copyright {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #5f5959;
  font-size: 14px;
}

.header {
  text-align: center;
  padding-bottom: 40px;
  color: #fb6565;
  .header-img {
    width: 350px;
    max-width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  .nav {
    font-size: 25px;
    a {
    }
  }

}

.footer {
  text-align: center;
  padding-bottom: 20px;
  .footer-img {
    width: 300px;
    max-width: 100%;
  }
}
